@import "tailwindcss";

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

@font-face {
    font-family: "GTA";
    src: url("./pricedown.otf");
}
html, body, #root {
    min-height: 100vh;
    width: 100%;
    font-family: "GTA";
    overflow-x: hidden;
}